header .container-fluid {
    display: flex;
    flex-direction: column;
    background-color: rgb(33, 115, 186);
    padding: 20px 20px
}

.container-fluid img {
    width: 120px;
    margin-bottom: 10px;
}

.nav-link {
    color: white;
    font-size: 20px;
}

.active {
    color: #ffffff !important;
}