header .container-fluid {
    display: flex;
    flex-direction: column;
    background-color: rgb(33, 115, 186);
    padding: 20px 20px;
    margin-top: -10px;
}

.container-fluid img {
    width: 120px;
    margin-bottom: 20px;
}

.nav-link {
    color: white;
    font-size: 20px;
}

.active {
    color: #ffffff !important;
}

main .container-fluid {
    background-color: white;
    /* height: 70vh;   */ 
}

main .container-fluid h1 {
    color: black;
    padding-top: 10px;
    font-size: 70px;
}

main .container-fluid h2 {
    color: #484848;
    font-size: 22px;
    margin-bottom: 20px;
}

#important-note {
    color: #FC5200;
    font-weight: 700;
}

.mb-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-label{
    color: #484848;
    display: flex;
    justify-content: center;
    font-size: 20px; 
}

.form-control {
    width: 50vw;
    border-color: #484848;
}

.form-text {
    margin-bottom: 10px;
}

.btn {
    border-color: #484848;
    background-color: #FC5200;
    /* opacity: 50%; */
    font-size: 20px;
    margin: 10px 10px;
    color: white;
}

hr {
    color: #fc4700;
    height: 1px;
    background-color: #fc4700;
}

#crud h2 {
    color: black;
    font-size: 30px;
}

#table {
    margin-top: 50px;
    margin-bottom: 50px;
}

thead {
    background-color:#FC5200;
}

tbody .actions-btn {
    border-radius: 3px;
    border-color: black;
}

footer {
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 50px;
    background-color: #2173BA;
    padding: 20px 20px
}

footer img {
    height: 100px;
}

#infoFooterGnal {
    height: 100px;
}

.infoFooter {
    color: white
}